.employees-section {
    background-color: var(--bgd-secondary-color);
}

.employees-list {
    display: block;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

    }

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
}
.employees-list__wrapper {
    background-color: var(--bgd-light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    

    @media screen and (min-width: 768px) {
        flex-direction: column;
        width: calc((100% - 30px) / 2);
    }

        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 4);
}
}

.employees-list__wrapper:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
   
}

.employee {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;

   
}

.employee__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-font-color);
}

.employee__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-font-color);
    margin-bottom: 16px;
}

.employee-social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.employee-social-item__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    transition: fill var(--transition-dur-and-func);

}

.employee-social-item__link {
    display: flex;
    align-items: center;
    justify-content: center;;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icons);
    background-color: var(--bgd-light-color);
    transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);

&:hover,
&:focus {
            color: var(--light-font-color);
            background-color: var(--accent-color);
        }
}

