.page-footer {
    background-color: var(--bgd-dark-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer-container {
    display: flex;
    align-items: baseline;
}

.footer-address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address__place {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--light-font-color);
}

.footer-address__contacts {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--light-secondary-font-color);
    transition: color var(--transition-dur-and-func);
    
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.footer-join-container {
    margin-left: 70px;
}

.footer-join-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-font-color);
    margin-bottom: 20px;
}

.footer-icon {
    fill: var(--bgd-light-color);
}

.footer-icons-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.footer-icons-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--bg-footer-icon);
    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
    
        }
}

.form-footer-modal {
    display: flex;
    align-items: center;
}

.footer-area-subscribe {
    margin-left: auto;

}

.footer-subscribe-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.form-footer-subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--light-font-color);
    margin-bottom: 20px;
}

.footer-btn-subscribe {
    width: 200px;
    height: 50px;
    padding: 10px 62px 10px 28px;
    background-color: var(--bg-footer-icon);
    color: var(--light-font-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-left: 12px;
    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.form-footer-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.form-footer-input {
    display: flex;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--bgd-dark-color);

    &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
    
        &:focus {
            outline: none;
        }
}

.footer-btn-icon {
    width: 24px;
    height: 24px;
    fill: var(--bgd-light-color);
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    margin-left: 10px;
}